---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import Linkgroup from "@components/Linkgroup.astro";  
import Christian from "@components/Header.astro"
---

<Layout title="Astro Starter">
  <section class="body">
    <div class="header">
 <h1 class="intro">Hi there, I'm</h1>
  <Christian/>

    </div>
 
    <Linkgroup/>



  </section>

</Layout>

<style>
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem 1rem;
    margin: 0 5rem;
    



  }
  .intro {
    font-family: var(--font-headings);
    font-size: 2rem;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--color-text);
    font-weight: 600;

    
  }
