---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import Linkgroup from "@components/Linkgroup.astro";  
import Christian from "@components/Header.astro"
import Socialgroup from "@components/Socialgroup.astro";
import Animation from "@components/Animation.astro";
---

<Layout title="Christian Schaible | Linktree" description="Welcome to my Linktree! Here you'll find links to my portfolio, social media, and more. Feel free to explore and connect with me!" >
  <Animation/>
  <section class="body">
    <div class="main-header">
      <h1 class="intro">Hi there, I'm</h1>
      <Christian/>
    </div>
    <div class="links">
        <Socialgroup/>
         <Linkgroup/>
    </div>
  </section>

</Layout>

<style>
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    max-width: var(--size-page-width);
    padding: 0;

  }
  .main-header {
    display: flex;
    flex-direction: column;
    
    
  }
  .intro {
    font-family: var(--font-headings);
    font-size: 1.3rem;
    text-align: left;

    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--color-text);
    animation: intro 2s infinite alternate;

  }

  @media (max-width: 420px) {
    .intro { font-size: 1.1rem; }
  }

@keyframes intro {
  0%{
     font-weight: 600;  
  }
  100% {
    font-weight: 700;
  }
}